<div class="container">
  <h2>Add Found Item</h2>
  <form [formGroup]="foundItemForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Item Name" formControlName="item_name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Category" formControlName="category" required>
        <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Found Location" formControlName="found_location">
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Date Found<br />
        <small>(dd/mm/yyyy)</small>
      </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_found" required>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contact Info" formControlName="contact_info" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="foundItemForm.invalid">Submit</button>
    <p *ngIf="message" [ngClass]="{'success': message.includes('✅'), 'error': message.includes('❌')}">{{ message }}</p>
  </form>
</div>
