<mat-toolbar color="primary" class="toolbar">
  <span class="app-title">Lost & Found</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/lost-items" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">View Lost</a>
    <a mat-button routerLink="/add-lost-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Report Lost</a>
    <a mat-button routerLink="/found-items" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">View Found</a>
    <a mat-button routerLink="/found-items/add-found-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Report Found</a>
  </nav>
</mat-toolbar>
<main class="main-container">
  <router-outlet></router-outlet>
</main>
